* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #667eea, #764ba2);
  min-height: 100vh;
}

.container {
  text-align: center;
  padding: 40px;
  color: rgb(14, 14, 14);
}

h1 {
  margin-bottom: 20px;
}

/* Card */
.card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  max-width: 400px;
  margin: auto;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

form input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
}

form input:focus {
  border-color: #667eea;
}

/* Button */
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #667eea;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #5a67d8;
}

/* Error */
.error {
  color: red;
  margin-top: 10px;
}

/* Table */
.table-card {
  margin-top: 30px;
  background: white;
  padding: 20px;
  border-radius: 15px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #667eea;
  color: white;
  padding: 10px;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Delete Button */
.delete-btn {
  background: #e53e3e;
  padding: 6px 10px;
}

.delete-btn:hover {
  background: #c53030;
}